<html>
	<head>
		<title>{{ user.username }}的主页</title>
	</head>
	<body background="../../site_medias/snorlax.jpg">
		<h1><font color="orange">{{ user.username }}的主页</font></h1>
		<hr>
		<p><font color="orange">个人描述：{{ user_profile.describe }}</font></p>
		<p><font color="orange">人品值：{{ user_profile.rp }}</font></p>
		<table border="1" bgcolor="green">
			<tr>
				<th></th><th><font color="orange">任务</font></th><th><font color="orange">能力</th>
			</tr>
			<tr>
				<th><font color="orange">未被接受</font></th>
				<th>
					<ul>
						{% for task in unreceived_tasks %}
							<li>
								<a href="/tasks/{{ task.id }}/"><font color="orange">{{ task.missionNAME }}</font></a>
							</li>
						{% endfor %}
					</ul>
				</th>
				<th>
					<ul>
						{% for ability in unreceived_abilities %}
							<li>
								<a href="/sells/{{ ability.id }}/"><font color="orange">{{ ability.abilityNAME }}</font></a>
							</li>
						{% endfor %}
					</ul>
				</th>
			</tr>
			<tr>
				<th><font color="orange">已被接受</font></th>
				<th>
					<ul>
						{% for task in received_tasks %}
							<li>
								<a href="/tasks/{{ task.id }}/"><font color="orange">{{ task.missionNAME }}</font></a>
							</li>
						{% endfor %}
					</ul>
				</th>
				<th>
					<ul>
						{% for ability in received_abilities %}
							<li>
								<a href="/sells/{{ ability.id }}/"><font color="orange">{{ ability.abilityNAME }}</font></a>
							</li>
						{% endfor %}
					</ul>
				</th>
			</tr>
			<tr>
				<th><font color="orange">待完成</font></th>
				<th colspan="2">
					<ul>
						{% for task in my_tasks %}
							{% if not task.closed %}
							<li>
								<a href="/tasks/{{ task.id }}/"><font color="orange">{{ task.missionNAME }}</font></a>
							</li>	
							{% endif %}
						{% endfor %}
					</ul>	
				</th>
			</tr>
			<tr>
				<th><font color="orange">已完成</font></th>
				<th colspan="2">
					<ul>
						{% for task in my_tasks %}
							{% if task.closed %}
							<li>
								<a href="/tasks/{{ task.id }}/"><font color="orange">{{ task.missionNAME }}</font></a>
							</li>	
							{% endif %}
						{% endfor %}
					</ul>	
				</th>
			</tr>
		</table>
		<hr>
		<p><a href="/"><font color="orange">返回主页</font></a></p>
		<p><a href="/accounts/info/"><font color="orange">修改个人信息</font></a></p>
	</body>
</html>
