<html>
	<head>
		<title>球帮忙-显示任务</title>
	</head>
	<body background="../../site_medias/pikachu.jpg">
		<h1>{{ task.missionNAME }}</h1>
		<p>发布者：<a href="/accounts/{{ task.missionRAISER.id }}/">{{ task.missionRAISER.username }}</a></p>
		<p>发布日期：{{ task.logDATE }}</p>
		<br>
		<p>{{ task.missionDESCRIBE }}</p>
		<br>
		<p>悬赏：{{ task.rpBONUS }}</p>
		<p>截止日期：{{ task.deadline }}</p>
		<br>
		{% if task.missionRECEIVER %}
		<p>此任务已被<a href="/accounts/{{ task.missionRECEIVER.id }}/">{{ task.missionRECEIVER.username }}</a>于{{ task.acceptDATE }}领取</p>
		{% else %}
			<form action="" method="post">{% csrf_token %}
				<p><input type="submit" value="领取！" /></p>
			</form>
		{% endif %}
		<hr>
		<a href="/">回到主页</a>
	</body>
</html>
