<html>
	<head>
		<title>球帮忙-显示任务</title>
	</head>
	<body background="../../site_medias/pikachu.jpg">
		<h1>{{ task.missionNAME }}</h1>
		<p>发布者：<a href="/accounts/{{ task.missionRAISER.id }}/">{{ task.missionRAISER.username }}</a></p>
		<p>发布日期：{{ task.logDATE|date:"Y-m-d H:i:s" }}</p>
		<br>
		<p>{{ task.missionDESCRIBE }}</p>
		<br>
		<p>悬赏：{{ task.rpBONUS }}</p>
		<p>截止日期：{{ task.deadline|date:"Y-m-d H:i:s" }}</p>
		<br>
		{% if task.missionRECEIVER %}
		<p>此任务已被<a href="/accounts/{{ task.missionRECEIVER.id }}/">{{ task.missionRECEIVER.username }}</a>于{{ task.acceptDATE }}领取</p>
		{% else %}
			<form action="" method="post">{% csrf_token %}
				<p><input type="submit" value="领取！" /></p>
			</form>
		{% endif %}
		<hr>
		<ul>
		{% for reply in replies %}
			<li>
			<p>{{ reply.replyUSER.username }}于{{ reply.replyTIME|date:"Y-m-d H:i:s" }}写道：</p>
			<p>{{ reply.replyWORDS }}</p>
			<!--form action="" method="post">{% csrf_token %}
				{{ form_for_reply.as_table }}
				<p><input type="submit" value="回复" /></p>
			</form-->
			</li>
		{% endfor %}
		</ul>
		<hr>
		<form action="" method="post">{% csrf_token %}
			<table border="0" cellpadding="0">
				{{ form.as_table }}
			</table>
			<p><input type="submit" value="回复" /></p>
		</form>
		<hr>
		<a href="/">回到主页</a>
	</body>
</html>
