<html>
	<head>
		<title>球帮忙-展示能力</title>
	</head>
	<body background="../../site_medias/squirtle.jpg">
		<h1>{{ sell.abilityNAME }}</h1>
		<p>发布者：<a href="/accounts/{{ sell.abilityRAISER.id }}/">{{ sell.abilityRAISER.username }}</a></p>
		<p>发布日期：{{ sell.logDATE|date:"Y-m-d H:i:s" }}</p>
		<br>
		<p>{{ sell.abilityDESCRIBE }}</p>
		<br>
		<p>要价：{{ sell.rpREQUIRED }}</p>
		<br>
		{% if sell.abilityRECEIVER %}
		<p>此能力已被<a href="/accounts/{{ sell.abilityRECEIVER.id }}/">{{ sell.abilityRECEIVER.username }}</a>于{{ sell.adoptDATE }}预订</p>
		{% else %}
			<form action="" method="post">{% csrf_token %}
				<p><input type="submit" value="预订！" /></p>
			</form>
		{% endif %}
		<hr>
		<ul>
		{% for reply in replies %}
			<li>
			<p>{{ reply.replyUSER.username }}于{{ reply.replyTIME|date:"Y-m-d H:i:s" }}写道：</p>
			<p>{{ reply.replyWORDS }}</p>
			<!--form action="" method="post">{% csrf_token %}
				{{ form_for_reply.as_table }}
				<p><input type="submit" value="回复" /></p>
			</form-->
			</li>
		{% endfor %}
		</ul>
		<hr>
		<form action="" method="post">{% csrf_token %}
			<table border="0" cellpadding="0">
				{{ form.as_table }}
			</table>
			<p><input type="submit" value="回复" /></p>
		</form>
		</hr>
		<a href="/">回到主页</a>
	</body>
</html>
