@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCC;
	vertical-align: middle;
	background-position:center;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}.title {
	background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
	border: 1px solid #bebebe;
	display: block;
	padding: 0px;
	height: 29px;
	border-radius: 3px;
	width: 1300px;
	vertical-align: middle;
	
	
}
.logo {
	display: block;
	width: 966px;
	border: 1px none #666;
}
.button_blue{
	background: linear-gradient(to bottom, #4c91de 0%,#417db5 100%);
	border-radius: 2px;
	color: #fff;
	box-shadow: 0 1px 1px 0 rgba(255,255,255,0.25) inset;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
	font-size: 12px;
	border: 1px solid #22639f;
	line-height: 25px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
	margin-right: 10px;
	font-family: Arial,Verdana,sans-serif;
	filter: Glow(Color=#fff, Strength=50);
	cursor: default;
}
.button_black{
	background: linear-gradient(to bottom, #6e6e6e 0%,#414141 100%);
	margin-right: 2px;
	border-radius: 2px;
	border: 1px solid #3a3a3a;
	padding: 4px 10px;
	color: #fff;
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.25) inset;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
	line-height: 25px;
	font-size: 12px;
	cursor: default;
}
